.progreessBar{
    background-color: black;
    width: 100%;
    display: flex;
}
.percentDescINSS{
    background-color: #e67e22;
}

.percentDescIRPF{
    background-color: #c0392b;
}

.salLiquido{
    background-color: #16a085;
}